/* Style for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #348cb2;
   
}

/* Style for the heading */
h1 {
    text-align: center;
    color: black;
}

/* Style for the form */
form {
    height: auto;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/* Style for the labels */
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

/* Style for the input fields */
input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Style for the submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#center{
    text-align: center;
    margin-top: 20px;
  }

/* Return Button */
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center; /* center the text inside the button */
    margin: 0 auto; /* center the button itself */
    display: block; /* make the button a block element */
  }

  
  
