<!DOCTYPE html>
<html>
  <head>


    <!-- CSS -->
    <link rel="stylesheet" href="static/style.css"> 

  </head>
  
  <body>
    <h1>Facial Registration</h1>

    <div id="video-wrapper">
      <! -- load url of facial register -->
      <img id="video" src="{{ url_for('facial_register') }}"/> 
    </div>

    <div id="center">

      <h4 id="status"> Status </h4>
      <p> Capture: Please Align your face with the camera properly. </p>
      

   
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    
    var dynamicVariable = "";

    

    function updateDynamicVariable() {
      $.ajax({
        url: "/update_variable", // Replace with the URL of your Flask route
        type: "GET", // Replace with the HTTP method of your Flask route
        data: { /* Replace with any data you need to send to the server */ },
        success: function(response) {
          dynamicVariable = response; // Update the variable with the response from the server
          $("#dynamic-variable").html(dynamicVariable); // Update the container element with the new value of the variable
          
          console.log(response)
          //checkCapture(); //call this function in order to run routing
        },
        error: function(xhr) {
          console.log(xhr.responseText); // Handle any errors that occur
        }
      });
    }
  
    // Use an interval to repeatedly check for the "Successfully trained" response
  var intervalId = setInterval(
    function() {

      document.getElementById("status").innerHTML = dynamicVariable;

      if (dynamicVariable === "Successfully trained") {
        clearInterval(intervalId); // Stop the interval
        window.location.href = "{{ url_for('index') }}"; // Redirect to the main page
      }
    updateDynamicVariable(); // Call the updateDynamicVariable function again
  }, 2000); // Check every 2 seconds
    

  </script>

</html>
