<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Finger Print Registration</title>

    <!-- CSS -->
    
    <link rel="stylesheet" href="static/design.css"> 
    
  </head>
  
  <body>
    <h1 style="color: white;">Finger Print Register</h1>
        
        <div class="scanner"> 
        <div class="fingarprint">
        </div>
            <h3 id="FingerResult">Please put your finger</h3>
            <h5 id="subtitle" class="label"></h3>
        </div>
        <a style="text-decoration: none;"  class="label"><button onclick="getFinger();" id="return">Start</button></a>

  </body>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
  
  
      
  // function for get Fingers
      function getFinger(){
      
      // change the status of the text
          document.getElementById("FingerResult").innerHTML = "Scanning..";
          document.getElementById("subtitle").innerHTML = "";
          
          // send get API request
          $.ajax({
               url: "/fingerprint",
                type: "GET",
                dataType: "json",
                success: function(response) {
                    
                    document.getElementById("FingerResult").innerHTML = response[0].message;
                    
                    console.log(response[0].message); //get result

                    if (response[0].error === false){
                        // if succesfully registered
                        window.location.href = "{{ url_for('fifth_page') }}";
                    }else{
                        document.getElementById("subtitle").innerHTML = "Please try Again";
                    }
               
                        
                    
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                alert("Error");
            }
        });

      }
      
   
    
    
  
  </script>
</html>
