<!DOCTYPE html>
<html>
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="static/register.css"> 
	<title>Registration Form</title>
</head>
<body>

	<h1 id="h1" style="color:white;">Registration Form</h1>

	<! -- action = submit the form data to "/submit" via POST -->
	<form id="form" action="/submit" method="POST">
		<label for="fullname" style="color:white;">Name (Surname, First Name MI):</label>
		<input type="text" id="fullname" name="fullname" required><br>
		<input type="submit" value="Submit">
		
	</form>
	<div id="center">
	<a href="/" class="label"><button style="display:inline-block;" id="return">Return</button></a>

	
	</div>
</body>

</html>
