#video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 640px;
  }
  #video {
    width: 100%;
    height: auto;
    z-index:15
  }
  #canvas {
    display: none;
  }
  #capture-button {
    font-family: Segoe UI, Arial, sans-serif;
    background-color: green;
    color: white;
    display: block;
    margin: 0 auto;
  }
  #capture-button.enabled {
    display: inline-block;
  }
  #center{
    text-align: center;
    margin-top: 20px;
  }
  h1{
    text-align: center;
  }

  #line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red;
    pointer-events: none;
    z-index: 1;
  }
  
  #overlay{
    position:absolute;
    top:0;
    width:100%;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }

  img {
    display:inline-block;
    
  }