<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS -->
    
    <link rel="stylesheet" href="static/style.css"> 
  </head>
  
  <body>
    <h1 style="color:white;">Facial Login</h1>
    <div id="video-wrapper">
      
      <! -- load url of facial recognition -->
      <img id="video" src="{{ url_for('video_feed') }}" />
      <canvas id="canvas" width="1200" height="720" ></canvas>
      
    </div>
    <div id="center">
    
      <h3 style="color:white;" id="result">Initialzing</h3>
      
      <p style="color:white;">Please Align your face with the camera angle.</p>
      
      <a style="text-decoration: none;" href="/" class="label"><button id="return">Return</button>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>

    var video = document.getElementById("video");
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext('2d');

    // TELEGRAM CHATBOT
    var telegram_bot_id = "6038531962:AAHmGRmFAXfSezff24artpEu7Ty5DOCqXtQ";

    // chat ID
    const HelloFriend = 5234992922;
    const carlFelix = 1120054024;
    const chat_id1 = 1509744956;
    const chat_id2 = 1102282141;
    const chat_id3 = 1240058920;
    const chat_id4 = 1282718818;
    const testing = 5014623525;
        
    var chatIds = [HelloFriend,
               carlFelix
              ]; 
              
   /* var chatIds = [HelloFriend,
              carlFelix,
              testing
             ]; */
  

    var dynamicVariable = "";

    // check facial result
    function updateDynamicVariable() {

      $.ajax({
        url: "/GET_FacialResult", // Replace with the URL of your Flask route
        type: "GET", // Replace with the HTTP method of your Flask route
        data: { /* Replace with any data you need to send to the server */ },
        success: function(response) {
          dynamicVariable = response; // Update the variable with the response from the server
          
          $("#dynamic-variable").html(dynamicVariable); // Update the container element with the new value of the variable
          
          console.log(response)
          //checkCapture(); //call this function in order to run routing
        },
        error: function(xhr) {
          console.log(xhr.responseText); // Handle any errors that occur
        }
      });
    }

    // Use an interval to repeatedly check for the "Successfully trained" response
var intervalId = setInterval(
  function() {

      

      if (dynamicVariable === "Access Granted") {

          document.getElementById("result").innerHTML = dynamicVariable;
          clearInterval(intervalId); // Stop the interval
          window.location.href = "{{ url_for('successLogin') }}"; // Redirect to the main page
      
      }
      
    document.getElementById("result").innerHTML = "verifying...";
      if (dynamicVariable === "Access Denied") {

        document.getElementById("result").innerHTML = dynamicVariable;
                   // Draw the video frame on the canvas
        context.drawImage(video, 0, 0, canvas.width, canvas.height);

                   // Convert the canvas to a blob object
        canvas.toBlob(function(blob) {
           
          // Create a FormData object to send the image
          var formData = new FormData();

          
          
           
          // format for sending Images
          // Add the IDs to the formData object as an array
          formData.append('chat_id', JSON.stringify(chatIds));
          formData.append('photo', blob, 'photo.jpg');
          formData.append('caption', 'Intruder Alert! Unknown People');
          
          // Loop through the chatIds array and send the message to each ID
          for (var i = 0; i < chatIds.length; i++) {
            formData.set('chat_id', chatIds[i]);

            // Send the image and caption to the Telegram Bot API using Ajax
            $.ajax({
              url: 'https://api.telegram.org/bot' + telegram_bot_id + '/sendPhoto',
              data: formData,
              method: 'POST',
              processData: false,
              contentType: false,
              success: function(response) {

                clearInterval(intervalId); // Stop the interval
                window.location.href = "{{ url_for('seventh_page') }}"; // Redirect to the main page
                  
              },
              error: function(jqXHR, textStatus, errorThrown) {
               console.log(textStatus, errorThrown);
              }
            });

          }

        }, 'image/jpeg', 0.75);

        
  }
    updateDynamicVariable(); // Call the updateDynamicVariable function again
}, 2000); // Check every 2 seconds



  </script>

</html>