<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Finger Print Registration</title>

    <!-- CSS -->
    
    <link rel="stylesheet" href="static/design.css"> 
  </head>
  
  <body>
    <h1 style="color: white;">Finger Print Register</h1>
        <div class="scanner">
        <div class="fingarprint">
        </div>
        <h3>Scanning ....</h3>
        </div>
        <a style="text-decoration: none;" href="/" class="label"><button id="return">Return</button></a>

  </body>
</html>
