<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webcam Capture Demo</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/style.css"> 

  </head>
  
  <body>
    <h1>Open Webcam</h1>
    <div id="video-wrapper">
    
      <img id="video" src="{{ url_for('video_feed') }}" />
      <canvas id="canvas"></canvas>
     
    </div>
    <div id="center">
      <button id="capture-button">Capture Image</button>
      <p>Please Align your face with the camera angle and press capture. </p>
    </div>
    
    <!-- Javascript -->
    <script src="static/index.js"></script> 
  </body>
</html>
